.login_page {
	margin: auto;
	width: 20%;
	min-width: 305px;
	box-shadow: 0px 0px 20px 3px #d3d3d3;
    border-radius: 4px;
	margin-top: 50px;
	padding: 25px 0px;
}
.login {
	margin: auto;
	width: 210px;
}
.newclient, .newcoach {
	margin: 0 auto;
	width: 500px;
}
.login input, .newclient input, .newcoach input {
	margin-bottom: 5px;
}
.login_checkbox {
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}
.login form {
    margin-left: auto;
    margin-right: auto;
	width: 210px;
}
.newclient form, .newcoach form {
    margin: 0 auto;
	width: 500px;
}
.button {
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #F5F5F5;
    color: black;
    border: 2px solid #0A6AAB;
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 210px;
	padding: 2px 6px 3px;
}
.button:hover {
    background-color: #0A6AAB;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.login_input {
	width: 210px;
}
.page-margin0 {
    margin: 0%;
    margin-bottom: 2.5%;
}
.page-margin5 {
    margin: 0 5%;
    margin-bottom: 5%;
}
.marginAuto {
    margin: 0 auto;
}
.inline-block {
	display: inline-block;
}
.left {
    margin-left: 0%;
}
.right {
    margin-right: 0%;
}
.right-marigin5p {
    margin-right: 10px;
}
.right-marigin50p {
	margin-right: 50px;
}
.image_header {
	width: 257px;
}
.client_about {
	width: 465px;
}
.password_info {
	color: #848484;
	font-size: 12px;
	font-style: italic;
}
.hidden {
	display: none;
}
.notesDate {
	color: gray;
	font-size: 11px;
}
.title {
    text-align: center;
    font-size: large;
}

.bg-blue {
    background-color: #0A6AAB;
}

.btn-primary {
    background-color: #0A6AAB;
    border-color: #0A6AAB;
}

/*FAMILY TREE*/
.linage {
	fill: none;
	stroke: #000;
}
.marriage {
	fill: none;
	stroke: black;
}
.man {
	background-color: lightblue;
	border-radius: calc(.25rem - 1px);
}
.woman {
	background-color: pink;
	border-radius: calc(.25rem - 1px);
}
.unknown {
	background-color: gray;
	border-radius: calc(.25rem - 1px);
}
.other {
	background-color: lightgreen;
	border-radius: calc(.25rem - 1px);
}
.emphasis {
	font-style: italic;
	font-weight: bold;
}
p {
	padding: 5px;
	margin: 0;
}


.scrollBox{
    height: 350px;
    overflow-y: scroll;

}

.footerText {
    color: black;
    font-size: 8pt;
    text-align: center;
    clear: both;
    width: 100%;
    background-color: rgba(0,0,0,.03);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.alignLeft {
    text-align: left;
}

.margin-bottom{
    margin-bottom: 10px;
}