.login_page {
	margin: auto;
	width: 20%;
	min-width: 305px;
	box-shadow: 0px 0px 20px 3px #d3d3d3;
    border-radius: 4px;
	margin-top: 50px;
	padding: 25px 0px;
}
.login {
	margin: auto;
	width: 210px;
}
.newclient, .newcoach {
	margin: 0 auto;
	width: 500px;
}
.login input, .newclient input, .newcoach input {
	margin-bottom: 5px;
}
.login_checkbox {
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}
.login form {
    margin-left: auto;
    margin-right: auto;
	width: 210px;
}
.newclient form, .newcoach form {
    margin: 0 auto;
	width: 500px;
}
.button {
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #F5F5F5;
    color: black;
    border: 2px solid #0A6AAB;
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 210px;
	padding: 2px 6px 3px;
}
.button:hover {
    background-color: #0A6AAB;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.login_input {
	width: 210px;
}
.page-margin0 {
    margin: 0%;
    margin-bottom: 2.5%;
}
.page-margin5 {
    margin: 0 5%;
    margin-bottom: 5%;
}
.left {
    margin-left: 0%;
}
.right {
    margin-right: 0%;
}
.image_header {
	width: 257px;
}
.client_about {
	width: 465px;
}
.password_info {
	color: #848484;
	font-size: 12px;
	font-style: italic;
}

.title {
    text-align: center;
    font-size: large;
}

.bg-blue {
    background-color: #0A6AAB;
}

.btn-primary {
    background-color: #0A6AAB;
    border-color: #0A6AAB;
}


/*.nav-item-right {*/
    /*font-align: right;*/
/*}*/

/* trying a calendar */

ul {
    list-style-type: none;
}

/* Month header */
.month {
    padding: 5px 10px;
    width: 100%;
    background: #0A6AAB;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #0A6AAB;
    color: white !important
}

.roundCornerTop {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.roundCornerBottom {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navbar-fixed-bottom {
    background-color: rgba(0,0,0,.10);
    text-align: center;
}